<!-- Form to edit existing user. Rails checks @user.new_record? to determine 
whether to use POST or PATCH. -->

<% provide(:title, 'Edit user') %>
<% provide(:form_header, 'Update your profile') %>
<% provide(:submit_btn_text, 'Save changes') %>

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>

    <div class="gravatar__edit">
      <%= gravatar_for @user %>
      <!-- rel="noopener" prevents phishing when target="_blank" -->
      <a href="https://gravatar.com/emails" rel="noopener" target="_blank">
        change
      </a>
    </div>
  </div>
</div>
