<!-- Form to create new user. Rails checks @user.new_record? to determine 
whether to use POST or PATCH.  -->

<% provide(:title, 'Sign up') %>
<% provide(:form_header, 'Sign up') %>
<% provide(:submit_btn_text, 'Create my account') %>

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <!-- @user = User.new is passed from User.new controller -->
    <!-- Rails infers that a POST should be made to /users -->
    <%= render 'form' %>
    <p class="mt-4">
      Already registered? <%= link_to 'Log in now!', login_path %>
    </p>
  </div>
</div>
