@import "bootstrap";  

body {
  padding-top: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.nav-link {
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
  
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}  

form h1 {
  margin-bottom: 30px;
}

.lead-container {
  text-align: center;
  background-color: $gray-200;
  width: 100%;
}


p {
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h2 {
  font-size: 2.2em;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.dropdown-menu.active {
  display: block;
}